{% extends 'base.html' %}
{% block conteudo %}

    {%- for mensagem  in get_flashed_messages() %}
        <div class="alert alert-danger mt-2 ms-2 me-2">
            {{ mensagem }}
        </div>
    {%- endfor %}

    <div id="tela" class="album py-2" style="background: linear-gradient(#3E56A6, #182140); height: 653px;">
        <div class="text-left">
            <h1 class="text-light" style="margin-top: 10px"> Lista de Produtos da XtremeGym </h1>
        </div>

        <div class="text-center mt-3 mb-5" style="float: right;">
            <a href="{{ url_for('cadastrarProduto') }}">
                <button class="btn btn-primary text-center rounded-pill m-2"> Cadastrar</button>
            </a>
        </div>

        <!--COMEÇO DA VIZUALIZAÇÃO EM LISTA-->
        <div class="col list">
            <div class="p-3" id="tabela">
                <table class="table table-primary table-striped table-bordered">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 70px;"> Id</th>
                        <th class="text-center" style="width: 190px;"> Nome</th>
                        <th class="text-center" style="width: 190px;"> Categoria</th>
                        <th class="text-center" style="width: 230px;"> Quantidade no Estoque</th>
                        <th class="text-center" style="width: 190px;"> Preço de Custo</th>
                        <th class="text-center" style="width: 160px;"> Preço de Venda</th>
                        <th class="text-center"> Ações</th>
                    </tr>
                    </thead>
                    {% if var_produto %}
                        {% for produto in var_produto %}
                            <tbody>
                            <tr>
                                <td class="text-center"> {{ produto.id_produto }} </td>
                                <td class="text-center"> {{ produto.nome_produto }} </td>
                                <td class="text-center"> {{ produto.id_categoria }} </td>
                                <td class="text-center"> {{ produto.quantidade_produto }} </td>
                                <td class="text-center"> R$ {{ produto.preco_custo }},90 </td>
                                <td class="text-center"> R$ {{ produto.preco_venda }},90 </td>
                                <td class="text-center">
                                    <a href="{{ url_for('editarProduto', id=produto.id_produto) }}"> <img
                                            src="/static/editar.png" style="width: 30px;"> </a>
                                    <a href="{{ url_for('deletarProduto', id=produto.id_produto) }}"> <img
                                        src="/static/deletar.png" style="width: 30px;"> </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center">Nenhum produto encontrado!</td>
                        </tr>
                    {% endif %}
                </table>
            </div>

        </div>
    </div>
    </div>

{% endblock conteudo %}