{% extends 'base.html' %}
{% block conteudo %}

    {%- for mensagem  in get_flashed_messages() %}
        <div class="alert alert-danger mt-2 ms-2 me-2">
            {{ mensagem }}
        </div>
    {%- endfor %}

    <div style="background: linear-gradient(#3E56A6, #182140); height: 653px">

        <div class="text-center" style="float: left">
            <h1 class="text-light" style="margin-top: 10px"> Lista de Funcionários da XtremeGym </h1>
        </div>

        <div style="float: right;margin-top: 10px; margin-bottom: 20px">
            <a href="{{ url_for('cadastrarFuncionario') }}">
                <button class="btn btn-primary text-center rounded-pill m-2"> Cadastrar</button>
            </a>
        </div>

        <div class="p-3" id="tabela">
            <table class="table table-primary table-striped table-bordered">
                <thead>
                <tr>
                    <th class="text-center" style="width: 70px;"> Id </th>
                    <th class="text-center" style="width: 190px;"> Nome </th>
                    <th class="text-center" style="width: 190px;"> CPF </th>
                    <th class="text-center" style="width: 230px;"> E-mail </th>
                    <th class="text-center" style="width: 190px;"> Telefone </th>
                    <th class="text-center" style="width: 160px;"> Cargo </th>
                    <th class="text-center" style="width: 160px;"> Ações </th>
                </tr>
                </thead>
                <tbody>
                {% if var_funcionario %}
                    {% for funcionario in var_funcionario %}
                        <tr>
                            <td class="text-center"> {{ funcionario.id_funcionario }} </td>
                            <td class="text-center"> {{ funcionario.nome_funcionario }} </td>
                            <td class="text-center"> {{ funcionario.cpf_funcionario }} </td>
                            <td class="text-center"> {{ funcionario.email_funcionario }} </td>
                            <td class="text-center"> {{ funcionario.telefone_funcionario }} </td>
                            <td class="text-center"> {{ funcionario.cargo_funcionario }} </td>
                            <td class="text-center">
                                <a href="{{ url_for('editarFuncionario', id=funcionario.id_funcionario) }}"> <img
                                        src="/static/editar.png" style="width: 30px;"> </a>
                                <a href="{{ url_for('deletarFuncionario', id=funcionario.id_funcionario) }}"> <img
                                        src="/static/deletar.png" style="width: 30px;"> </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">Nenhum funcionário encontrado!</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock conteudo %}