{% extends 'base.html' %}
{% block conteudo %}

    {%- for mensagem  in get_flashed_messages() %}
        <div class="alert alert-danger mt-2 ms-2 me-2">
            {{ mensagem }}
        </div>
    {%- endfor %}

    <div style="background: linear-gradient(#3E56A6, #182140); height: 653px">
        <div style="float: left">
            <h1 class="text-light" style="margin-top: 10px"> Lista de Categorias </h1>
        </div>
        <div style="float: right;margin-top: 10px; margin-bottom: 20px">
            <a href="{{ url_for('cadastrarCategoria') }}">
                <button class="btn btn-primary text-center rounded-pill m-2"> Cadastrar</button>
            </a>
        </div>
        <div class="p-3" id="tabela">
            <table class="table table-primary table-striped table-bordered">
                <thead>
                <tr>
                    <th class="text-center" style="width: 70px;"> Id</th>
                    <th class="text-center" style="width: 140px;"> Nome</th>
                    <th class="text-center" style="width: 50px;"> Ações</th>
                </tr>
                </thead>
                {% if var_categoria %}
                    {% for categoria in var_categoria %}
                        <tbody>
                        <tr>
                            <td> {{ categoria.id_categoria }} </td>
                            <td class="text-center"> {{ categoria.nome_categoria }} </td>
                            <td>
                                <a href="{{ url_for('editarCategoria', id=categoria.id_categoria) }}"> <img
                                        src="/static/editar.png" style="width: 50px;"> </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8" class="text-center">Nenhuma categoria encontrada!</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock conteudo %}